# Análise dos Dados do Escola Inteligente
São dados do INEP disponibilizados por meio de API

link: http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on

In [1]:
# Importando as bibliotecas
import pandas as pd
import requests

In [2]:
# URL de acesso a API
url = 'http://educacao.dadosabertosbr.com/api/escolas/buscaavancada?situacaoFuncionamento=1&energiaInexistente=on&aguaInexistente=on&esgotoInexistente=on'

In [3]:
# Faz a requisição web dos dados
resposta = requests.get(url)
#resposta.text

In [4]:
# Criando nosso DataFrame
df = pd.DataFrame(resposta.json()[1])

# Mostrar as primeiros 5 linhas
df.head()

,anoCenso,cod,nome,codCidade,cidade,estado,regiao,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral,situacaoFuncionamentoTxt,dependenciaAdministrativaTxt
0,2013,41036026,BAIRRO DOS MENDES E R M EF,4104402,CANDIDO DE ABREU,PR,Sul,1,3,0.0,0.0,0.0,Em atividade,Municipal
1,2013,21237808,CEF CAJAZEIRAS,2109809,SANTA HELENA,MA,Nordeste,1,3,0.0,0.0,0.0,Em atividade,Municipal
2,2013,15008258,E M E F AGUA AZUL,1504802,MONTE ALEGRE,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
3,2013,15534340,E M E F AGUA BOA,1505650,PLACAS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
4,2013,15590356,E M E F AGUA PRETA,1504703,MOJU,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [5]:
# Mostrar as últimas 5 linhas
df.tail(5)

,anoCenso,cod,nome,codCidade,cidade,estado,regiao,situacaoFuncionamento,dependenciaAdministrativa,idebAI,idebAF,enemMediaGeral,situacaoFuncionamentoTxt,dependenciaAdministrativaTxt
95,2013,15079350,E M E F MANOEL GONCALVES II,1500206,ACARA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
96,2013,15575586,E M E F MANUEL BANDEIRA,1506195,RUROPOLIS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
97,2013,15575535,E M E F MARIA ALVES SANTANA,1506195,RUROPOLIS,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
98,2013,15115461,E M E F MARIA AMELIA,1505064,NOVO REPARTIMENTO,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal
99,2013,15078183,E M E F MARIA DE NAZARE II,1500206,ACARA,PA,Norte,1,3,0.0,0.0,0.0,Em atividade,Municipal

In [6]:
# Qual o tamanho do DataFrame
df.shape

(100, 14)

In [7]:
df.dtypes

anoCenso                          int64
cod                               int64
nome                             object
codCidade                         int64
cidade                           object
estado                           object
regiao                           object
situacaoFuncionamento             int64
dependenciaAdministrativa         int64
idebAI                          float64
idebAF                          float64
enemMediaGeral                  float64
situacaoFuncionamentoTxt         object
dependenciaAdministrativaTxt     object
dtype: object

In [8]:
# Quantidade de linhas em cada coluna
df.count()

anoCenso                        100
cod                             100
nome                            100
codCidade                       100
cidade                          100
estado                          100
regiao                          100
situacaoFuncionamento           100
dependenciaAdministrativa       100
idebAI                          100
idebAF                          100
enemMediaGeral                  100
situacaoFuncionamentoTxt        100
dependenciaAdministrativaTxt    100
dtype: int64

In [9]:
# Informações das colunas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   anoCenso                      100 non-null    int64
 1   cod                           100 non-null    int64
 2   nome                          100 non-null    object
 3   codCidade                     100 non-null    int64
 4   cidade                        100 non-null    object
 5   estado                        100 non-null    object
 6   regiao                        100 non-null    object
 7   situacaoFuncionamento         100 non-null    int64
 8   dependenciaAdministrativa     100 non-null    int64
 9   idebAI                        100 non-null    float64
 10  idebAF                        100 non-null    float64
 11  enemMediaGeral                100 non-null    float64
 12  situacaoFuncionamentoTxt      100 non-null    object
 13  dependenciaAdministrativaTxt  100 non-null    object
dtypes: float64(3), int64(5), object(6)
memory usage: 11.1+ KB

In [10]:
# Em quais estados estão as escolas?
df['estado'].value_counts()

PA    98
PR     1
MA     1
Name: estado, dtype: int64

In [11]:
# São todas escolas munícipais?
df['dependenciaAdministrativaTxt'].value_counts()

Municipal    100
Name: dependenciaAdministrativaTxt, dtype: int64